ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.click {
  text-decoration: none;
  color: black
}

.click:hover {
  text-decoration: none;
  color: #3182f6;
}

.article-grid {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
}

.aside-left {
  padding: 80px 48px 80px 40px;
}

.section-center {
  padding: 80px 40px;
}

.contentcard {
  border-radius: 15px;
  padding: 1rem;
}

.contentcard:hover {
  border-radius: 15px;
  transform: translateY(-5px);
  transition: all ease-in-out .3s;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

/* detail page */
.detail-title-div {
  position: relative;
}

.detail-title {
  position: absolute;
  left: 30%;
  bottom: 1rem;
}

.comment-input {
  border-radius: 0px;
  border: 1px solid #eee;
  width: 100%;
}