{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-start">
  <div class="p-4 mt-2 mb-5 contentcard" style="border-radius: 15px; ">
    <div class="">
      <h2>{{ person.username }}</h2>
      <div>
        팔로잉 : {{ person.followings.all|length }} 팔로워 : {{ person.followers.all|length }}
      </div>
    </div>
    <hr>
    <div class="mt-4">
      <p>{{ person.nickname}}</p>
      <p>{{ person.bio}}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mb-5">
  <!-- <i class="bi bi-plus-circle-fill"></i> -->
</div>
</div>
</div>
<div class="">
  <h2>{{ person.username }}
    <div>
      팔로잉 : {{ person.followings.all|length }} / 팔로워 : {{ person.followers.all|length }}
    </div>
    {% if person.username == user.username %}
    <a href="{% url 'accounts:edit' %}">프로필 편집</a>
    {% else %}
    <div>
      <form action="{% url 'accounts:follow' person.pk%}" method='POST'>
        {% csrf_token %}
        {% if user in person.followers.all %}
        <input type="submit" value='팔로우 취소'>
        {% else %}
        <input type="submit" value='팔로우'>
        {% endif %}
      </form>
    </div>
    {% endif %}
  </h2>
  <p>{{ person.profile.nickname }}</p>
  <p>{{ person.profile.bio }}</p>
  <a href="{% url 'chat:first_send' person.pk %}">DM 보내기</a>
</div>
</div>
</div>
{% endblock %}