{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}

<div>
  <div class="article-grid">
    <aside class="aside-left">
      <h2 class="mb-3" style="font-size: 14px; color: #8b95a1">오늘 많이본 아티클</h2>
      <ul>
        <li>
          <a class="click" href="{% url 'articles:index' %}">
            <div class="contentcard h-100 p-0" style="border-radius: 15px;">
              <img width="287px" height="287px" class="card-img-top" src="{% static 'img/logo1.png' %}">
              <div class="card-body p-3" style="border-radius: 0 0 15px 15px; background-color: rgb(255, 179, 49);">
                <div class=" d-flex flex-start" style="flex-direction: column;">
                  <h4 style="font-size: 18px">{{ article.title }}아티클 제목</h4>
                  <span style="font-size: 14px; font-weight: lighter;">{{ article.user }}아티클 작가</span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="contentcard">asdasd<p>asdasdas</p>
        <p>asdasdas</p>
        <p>asdasdas</p>
      </div>
      <div class="contentcard">asdasd<p>asdasdas</p>
        <p>asdasdas</p>
        <p>asdasdas</p>
      </div>
      <div class="contentcard">asdasd<p>asdasdas</p>
        <p>asdasdas</p>
        <p>asdasdas</p>
      </div>
    </aside>
    <section class="section-center">
      <h2 class="mb-3" style="font-size: 14px; color: #8b95a1">최신 아티클</h2>
      <div class="contentcard">asdasd<p>asdasdas</p>
        <p>asdasdas</p>
        <p>asdasdas</p>
    </section>
    <aside class="aside-left">
      <h2 class="mb-3" style="font-size: 14px; color: #8b95a1">반응 좋은 아티클</h2>
      <div class="contentcard">asdasd<p>asdasdas</p>
        <p>asdasdas</p>
        <p>asdasdas</p>
    </aside>
  </div>
</div>
<div class="text-end">
  <a href="{% url 'articles:create' %}" class="btn btn-primary">작성</a>
</div>

<div class="row">
  {% for article in articles %}
  <div class="card col-3 m-1 px-0" style="height: 300px;">
    <a href="{% url 'articles:detail' article.pk %}" class="text-decoration-none">
      {% if article.thumbnail %}
      <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.thumbnail.url }}"
        style="height: 226px">
      {% else %}
      <img src="https://dummyimage.com/283x226/000/fff" class="card-img-top">
      {% endif %}
      <div class="card-body p-0 text-center">
        <h5 class="card-title">{{ article.title }}</h5>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}